In [399]:
# Imports the required library
import pandas as pd
from pathlib import Path
import tensorflow as tf
# Imports the machine learning modules
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
#imports the data reporting moules
from sklearn.decomposition import PCA
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# New Section

# New Section

In [400]:
df = pd.read_csv(Path("./resources/Economic data_0.csv"), index_col="Date", parse_dates=True, infer_datetime_format=True)

In [401]:
df.head()

,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,Challenger Job Cuts YoY,...,U. of Mich. Current Conditions,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.412
2012-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.48,NaN,NaN,13.457
2012-01-05,325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4300.106
2012-01-06,NaN,0.002,0.021,34.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.152,0.085,NaN,NaN,NaN,NaN,469.660
2012-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.370

In [402]:
df=df.fillna(method="ffill")

In [403]:
df=df.fillna(0)

In [404]:
df=df.rename(columns={'Row Labels':'Date'})

In [405]:
df.head(30)

,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,Challenger Job Cuts YoY,...,U. of Mich. Current Conditions,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,0.0,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.000,0.000,0.000,0.00,0.000,0.0,101.4120
2012-01-04,0.0,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.000,0.000,0.000,13.48,0.000,0.0,13.4570
2012-01-05,325.0,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.000,0.000,0.000,13.48,0.000,0.0,4300.1060
2012-01-06,325.0,0.002,0.021,34.4,0.0,0.000,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.152,0.085,0.000,13.48,0.000,0.0,469.6600
2012-01-09,325.0,0.002,0.021,34.4,0.0,0.000,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.152,0.085,0.000,13.48,0.000,0.0,20.3700
2012-01-10,325.0,0.002,0.021,34.4,0.0,0.000,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.152,0.085,0.000,13.48,0.001,0.0,3254.8010
2012-01-11,325.0,0.002,0.021,34.4,0.0,0.000,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.152,0.085,0.000,13.48,0.001,0.0,0.0450
2012-01-12,325.0,0.002,0.021,34.4,0.0,0.003,0.000,0.000,0.000,0.306,...,0.0,0.0,0.0,0.152,0.085,0.000,13.48,0.001,0.0,3896.3000
2012-01-13,325.0,0.002,0.021,34.4,0.0,0.003,0.000,0.000,0.000,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,26.2840
2012-01-17,325.0,0.002,0.021,34.4,0.0,0.003,0.000,0.000,0.000,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,13.5000
2012-01-18,325.0,0.002,0.021,34.4,0.0,0.003,0.000,0.000,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,134.4160
2012-01-19,325.0,0.002,0.021,34.4,679.0,0.003,0.000,0.000,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,5532.7500
2012-01-20,325.0,0.002,0.021,34.4,679.0,0.003,0.000,0.000,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,4.6600
2012-01-24,325.0,0.002,0.021,34.4,679.0,0.003,0.000,0.000,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,12.0000
2012-01-25,325.0,0.002,0.021,34.4,679.0,0.003,0.000,0.000,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,-0.0285
2012-01-26,325.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.306,...,0.0,0.0,74.0,0.152,0.085,0.000,13.48,0.001,0.0,4198.8610
2012-01-27,325.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.306,...,0.0,0.0,75.0,0.152,0.085,0.000,13.48,0.001,0.0,75.0630
2012-01-30,325.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.306,...,0.0,0.0,75.0,0.152,0.085,0.000,13.48,0.001,0.0,15.3490
2012-01-31,325.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.306,...,0.0,0.0,75.0,0.152,0.085,0.000,13.48,0.001,0.0,121.3040
2012-02-01,170.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.306,...,0.0,0.0,75.0,0.152,0.085,0.000,14.13,0.001,0.0,293.7160
2012-02-02,170.0,0.002,0.021,34.4,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,75.0,0.152,0.085,0.012,14.13,0.001,0.0,3759.6080
2012-02-03,170.0,0.002,0.019,34.5,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,75.0,0.151,0.083,0.012,14.13,0.001,0.0,641.5660
2012-02-07,170.0,0.002,0.019,34.5,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,75.0,0.151,0.083,0.012,14.13,0.001,0.0,3395.3100
2012-02-08,170.0,0.002,0.019,34.5,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,75.0,0.151,0.083,0.012,14.13,0.001,0.0,0.0750
2012-02-09,170.0,0.002,0.019,34.5,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,75.0,0.151,0.083,0.012,14.13,0.010,0.0,3831.3100
2012-02-10,170.0,0.002,0.019,34.5,679.0,0.003,0.029,0.029,0.781,0.389,...,0.0,0.0,72.5,0.151,0.083,0.012,14.13,0.010,0.0,-3.7000
2012-02-14,170.0,0.002,0.019,34.5,679.0,0.004,0.029,0.029,0.781,0.389,...,0.0,0.0,72.5,0.151,0.083,0.012,14.13,0.010,0.0,94.0020
2012-02-15,170.0,0.002,0.019,34.5,679.0,0.004,0.029,0.029,0.785,0.389,...,0.0,0.0,72.5,0.151,0.083,0.012,14.13,0.010,0.0,154.2750
2012-02-16,170.0,0.002,0.019,34.5,676.0,0.004,0.029,0.029,0.785,0.389,...,0.0,0.0,72.5,0.151,0.083,0.012,14.13,0.010,0.0,5119.5346
2012-02-17,170.0,0.002,0.019,34.5,676.0,0.004,0.029,0.029,0.785,0.389,...,0.0,0.0,72.5,0.151,0.083,0.012,14.13,0.010,0.0,454.4090

In [406]:
df.dtypes

ADP Employment Change                 float64
Average Hourly Earnings MoM           float64
Average Hourly Earnings YoY           float64
Average Weekly Hours All Employees    float64
Building Permits                      float64
                                       ...
Unit Labor Costs                      float64
Wards Total Vehicle Sales             float64
Wholesale Inventories MoM             float64
Wholesale Trade Sales MoM             float64
Grand Total                           float64
Length: 104, dtype: object

In [407]:
from pandas.compat import numpy as np
 #df=df.add(columns='trend')
df['trend']=0

In [408]:
df.shape

(759, 105)

In [409]:
# -1, 0, 1
dummy_values = [-1, 1, 0]
import numpy as np
#random.choice(dummy_values)
df["trend"] = np.random.choice(dummy_values, len(df))

In [410]:
df.loc['1/3/12':'12/31/14','trend']

Date
2012-01-03   -1
2012-01-04    1
2012-01-05    0
2012-01-06    0
2012-01-09   -1
             ..
2014-12-23    0
2014-12-24    0
2014-12-29    1
2014-12-30   -1
2014-12-31   -1
Name: trend, Length: 688, dtype: int32

In [411]:
X=df.drop(columns=['trend'])

In [412]:
y=df["trend"].dropna()

X=df.drop(columns='Grand Total')

In [413]:
df=df.dropna()

In [414]:
# Splits the data using train_test_split and assigns a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [415]:
# Creates a StandardScaler instance
scaler = StandardScaler()

# Applys the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)

# Transforms the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [416]:
## Compile and Evaluate a Binary Classification Model Using a Neural Network

In [417]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

104

In [418]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [419]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 20

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [420]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  20

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

20

In [421]:
# Create the Sequential model instance
nn = Sequential()

In [422]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [423]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [424]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="softmax"))

In [425]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 20)                2100

 dense_34 (Dense)            (None, 20)                420

 dense_35 (Dense)            (None, 1)                 21

=================================================================
Total params: 2,541
Trainable params: 2,541
Non-trainable params: 0
_________________________________________________________________

In [426]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [427]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X, y, epochs=50)

Epoch 1/50
24/24 [==============================] - 0s 1ms/step - loss: 13.2292 - accuracy: 0.3465
Epoch 2/50
24/24 [==============================] - 0s 1000us/step - loss: 3.8653 - accuracy: 0.3465
Epoch 3/50
24/24 [==============================] - 0s 1ms/step - loss: 0.9343 - accuracy: 0.3465
Epoch 4/50
24/24 [==============================] - 0s 1ms/step - loss: 2.9269 - accuracy: 0.3465
Epoch 5/50
24/24 [==============================] - 0s 1ms/step - loss: 2.8195 - accuracy: 0.3465
Epoch 6/50
24/24 [==============================] - 0s 1ms/step - loss: -0.5663 - accuracy: 0.3465
Epoch 7/50
24/24 [==============================] - 0s 1ms/step - loss: -1.9922 - accuracy: 0.3465
Epoch 8/50
24/24 [==============================] - 0s 1ms/step - loss: 1.7866 - accuracy: 0.3465
Epoch 9/50
24/24 [==============================] - 0s 1ms/step - loss: -1.2409 - accuracy: 0.3465
Epoch 10/50
24/24 [==============================] - 0s 1000us/step - loss: -3.7568 - accuracy: 0.3465
Epoch 11/50
24/24 [==============================] - 0s 1ms/step - loss: -2.3964 - accuracy: 0.3465
Epoch 12/50
24/24 [==============================] - 0s 870us/step - loss: -4.4240 - accuracy: 0.3465
Epoch 13/50
24/24 [==============================] - 0s 1ms/step - loss: 1.4711 - accuracy: 0.3465
Epoch 14/50
24/24 [==============================] - 0s 1ms/step - loss: -6.3282 - accuracy: 0.3465
Epoch 15/50
24/24 [==============================] - 0s 956us/step - loss: -4.3274 - accuracy: 0.3465
Epoch 16/50
24/24 [==============================] - 0s 957us/step - loss: -8.0747 - accuracy: 0.3465
Epoch 17/50
24/24 [==============================] - 0s 1ms/step - loss: -2.8790 - accuracy: 0.3465
Epoch 18/50
24/24 [==============================] - 0s 1ms/step - loss: -7.6322 - accuracy: 0.3465
Epoch 19/50
24/24 [==============================] - 0s 913us/step - loss: -3.6792 - accuracy: 0.3465
Epoch 20/50
24/24 [==============================] - 0s 1000us/step - loss: -8.1034 - accuracy: 0.3465
Epoch 21/50
24/24 [==============================] - 0s 870us/step - loss: -10.2904 - accuracy: 0.3465
Epoch 22/50
24/24 [==============================] - 0s 1ms/step - loss: 0.2188 - accuracy: 0.3465
Epoch 23/50
24/24 [==============================] - 0s 1ms/step - loss: -8.1334 - accuracy: 0.3465
Epoch 24/50
24/24 [==============================] - 0s 1ms/step - loss: -10.6750 - accuracy: 0.3465
Epoch 25/50
24/24 [==============================] - 0s 1000us/step - loss: -9.5272 - accuracy: 0.3465
Epoch 26/50
24/24 [==============================] - 0s 913us/step - loss: -11.8615 - accuracy: 0.3465
Epoch 27/50
24/24 [==============================] - 0s 913us/step - loss: -11.7703 - accuracy: 0.3465
Epoch 28/50
24/24 [==============================] - 0s 913us/step - loss: -13.7698 - accuracy: 0.3465
Epoch 29/50
24/24 [==============================] - 0s 1ms/step - loss: -16.0211 - accuracy: 0.3465
Epoch 30/50
24/24 [==============================] - 0s 870us/step - loss: -10.2352 - accuracy: 0.3465
Epoch 31/50
24/24 [==============================] - 0s 1ms/step - loss: -15.0067 - accuracy: 0.3465
Epoch 32/50
24/24 [==============================] - 0s 1ms/step - loss: -13.3908 - accuracy: 0.3465
Epoch 33/50
24/24 [==============================] - 0s 1000us/step - loss: -15.0952 - accuracy: 0.3465
Epoch 34/50
24/24 [==============================] - 0s 870us/step - loss: -10.7786 - accuracy: 0.3465
Epoch 35/50
24/24 [==============================] - 0s 1000us/step - loss: -17.9963 - accuracy: 0.3465
Epoch 36/50
24/24 [==============================] - 0s 826us/step - loss: -17.0923 - accuracy: 0.3465
Epoch 37/50
24/24 [==============================] - 0s 870us/step - loss: -20.5462 - accuracy: 0.3465
Epoch 38/50
24/24 [==============================] - 0s 870us/step - loss: -25.1626 - accuracy: 0.3465
Epoch 39/50
24/24 [==============================] - 0s 1ms/step - loss: -23.9058 - accuracy: 0.3465
Epoch 40/50
24/24 [==============================] - 0s 1ms/step - loss: -23.9945 - accuracy: 0.3465
Epoch 41/50
24/24 [==============================] - 0s 1ms/step - loss: -28.3162 - accuracy: 0.3465
Epoch 42/50
24/24 [==============================] - 0s 1ms/step - loss: -29.7315 - accuracy: 0.3465
Epoch 43/50
24/24 [==============================] - 0s 1ms/step - loss: -29.7126 - accuracy: 0.3465
Epoch 44/50
24/24 [==============================] - 0s 957us/step - loss: -30.9172 - accuracy: 0.3465
Epoch 45/50
24/24 [==============================] - 0s 956us/step - loss: -31.0548 - accuracy: 0.3465
Epoch 46/50
24/24 [==============================] - 0s 913us/step - loss: -31.7861 - accuracy: 0.3465
Epoch 47/50
24/24 [==============================] - 0s 956us/step - loss: -39.8447 - accuracy: 0.3465
Epoch 48/50
24/24 [==============================] - 0s 1000us/step - loss: -39.2247 - accuracy: 0.3465
Epoch 49/50
24/24 [==============================] - 0s 1ms/step - loss: -38.0518 - accuracy: 0.3465
Epoch 50/50
24/24 [==============================] - 0s 869us/step - loss: -42.3197 - accuracy: 0.3465

In [428]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled , y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6/6 - 0s - loss: -2.6465e+00 - accuracy: 0.3158 - 269ms/epoch - 45ms/step
Loss: -2.646509885787964, Accuracy: 0.31578946113586426

In [429]:
y_test.head()

Date
2014-02-06    1
2014-09-18   -1
2014-10-14    0
2013-09-12    0
2015-04-07   -1
Name: trend, dtype: int32

In [430]:
y_predictions=nn.predict(X_test_scaled)

In [431]:
y_predictions

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]], dtype=float32)

In [432]:
print(classification_report(y_test, y_predictions))

              precision    recall  f1-score   support

          -1       0.00      0.00      0.00        63
           0       0.00      0.00      0.00        67
           1       0.32      1.00      0.48        60

    accuracy                           0.32       190
   macro avg       0.11      0.33      0.16       190
weighted avg       0.10      0.32      0.15       190

C:\Users\shaha\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\shaha\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\shaha\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [433]:
output_df = pd.DataFrame(index=X_test.index)
output_df.index.names = ['Date']
output_df['y'] = y_predictions
output_df.to_csv(Path('./resources/macro_output.csv'))

              y
Date
2014-02-06  1.0
2014-09-18  1.0
2014-10-14  1.0
2013-09-12  1.0
2015-04-07  1.0
...         ...
2012-02-27  1.0
2013-01-30  1.0
2014-09-30  1.0
2013-05-14  1.0
2015-04-13  1.0

[190 rows x 1 columns]